<div class="navbar">
    <a href="/" class="home">
        <div class="logo"></div>
    </a>

    <button class="menuButton">
        <i class="fa-solid fa-bars"></i>
    </button>

    <ul class="navlinks">
        <li><button class="dropDown">About Us</button></li>
        <li><button class="dropDown">Contact Us</button></li>
        <li>
            <div class="loginButton">
                <button><a href="/">Login</a></button>
            </div>
        </li>
    </ul>
</div>