<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>CSI</title>
</head>
<body>
    <%- include("partials/header.ejs"); %>

    <div class="hero">
        <div class="Upper">
            <div class="title">
                <span>c</span>
                <span>s</span>
                <span>i</span>
            </div>
            <div class="title">
                <span>m</span>
                <span>i</span>
                <span>t</span>
                <span>-</span>
                <span>w</span>
                <span>p</span>
                <span>u</span>
            </div>
        </div>
        <div class="lower">
            <div class="tail">
                <p>The Computer Society of India (CSI) is a prestigious organization representing computer professionals in India. Established in 1965, CSI boasts a network of 72 chapters, 511 student branches, and over 100,000 members. CSI is dedicated to upholding professional integrity, fostering collaboration, and providing knowledge exchange opportunities.
                </p>
            </div>
        </div>
    </div>
    
    <div class="main">
        <div class="intro">
            <div class="left">
                <div class="container">
                    <div class="wrapper">
                        <div class="banner-image"></div>
                        <h1>Aanya Singhania</h1>
                        <p>
                            President <br />
                            CSI MIT-WPU
                        </p>
                    </div>
                    <div class="button-wrapper">
                        <button class="btn fill">Join Community</button>
                    </div>
                </div>
            </div>
            
            <div class="right">
                <h1>Welcome to the Computer Society of India (CSI-MIT)!</h1>
                <p>Our mission is to advance computer science and IT knowledge across the country. Through dynamic conferences, hands-on workshops, skill-enhancing training programmes, and insightful publications, we aim to empower professionals and students alike. CSI also plays a vital role in bridging the gap between industry and academia, fostering holistic development, and promoting social responsibility in technology.</p>
                <p>With CSI, you can grow in countless ways! Participate in exciting events, enhance your career readiness through recruitment drives and mock placement sessions, and gain invaluable exposure to the tech industry. Whether you’re networking, learning, or exploring, CSI provides opportunities tailored to your growth.</p>
                <p>Join us to explore the world of technology, connect with like-minded individuals, and shape the future of IT in India. We can’t wait to welcome you to the CSI family, where innovation meets opportunity.</p>
                <div class="signature">
                    <h2>President</h2>
                    <h3>CSI</h3>
                </div>
            </div>

        </div>
    </div>

    <script src="js/header.js"></script>
    <script src="js/index.js"></script>
</body>
</html>